<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>

    <ion-item>
    
      <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-select formControlName="tipo" placeholder="Tipo" >
        <ion-select-option *ngFor="let tipo of tiposDeCuentas" [value]="tipo">
          {{ tipo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

   

    <ion-item>
      
      <ion-input type="number" formControlName="saldo_inicial" placeholder="Saldo inicial"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" >
      Guardar Cuenta
    </ion-button>
  </form>
</ion-content>
