<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/finance/more-settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item button routerLink="/finance/tipos-cuentas">
      <ion-label>Tipos de cuentas</ion-label>
    </ion-item>

    <ion-item button routerLink="/finance/gestor-cuentas">
      <ion-label>Gestor de cuentas</ion-label>
    </ion-item>

    <ion-item button routerLink="/finance/incluir-total">
      <ion-label>Incluir en el Total</ion-label>
    </ion-item>

    <!-- <ion-item button routerLink="/finance/config-gastos-transferencia">
      <ion-label>Configuración de gastos de transferencia</ion-label>
    </ion-item> -->

    <ion-item button routerLink="/finance/cuentas-eliminadas">
      <ion-label>Cuentas eliminadas</ion-label>
    </ion-item>

    <!-- <ion-item button routerLink="/finance/vista-gastos-tarjeta">
      <ion-label>Conf. Vista gastos de tarjeta</ion-label>
      <ion-note slot="end" color="danger">A. Al instante</ion-note>
    </ion-item> -->

  </ion-list>
</ion-content>
