<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Categoría/Cuentas -->
  <ion-list>
    <ion-list-header class="subtitle">Categoría/Cuentas</ion-list-header>

    <ion-item routerLink="/finance/categorias-ingresos">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Categorías de Ingresos</ion-label>
    </ion-item>

    <ion-item routerLink="/finance/categorias-gastos">
      <ion-icon name="remove-outline" slot="start" ></ion-icon>
      <ion-label>Categorías de Gastos</ion-label>
    </ion-item>

    <ion-item routerLink="/finance/gestor-cuentas">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Gestor de cuentas</h2>
        <p>Tipos de cuentas, Cuentas, Incluir en el Total...</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-icon name="calculator-outline" slot="start"></ion-icon>
      <ion-label>Ajustes de presupuestos</ion-label>
    </ion-item> -->
  </ion-list>

  <!-- Ajustes -->
  <ion-list>
    <ion-list-header class="subtitle">Ajustes</ion-list-header>

    <ion-item>
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Respaldo</h2>
        <p>Exportar, Importar, Eliminar datos y empezar de nuevo</p>
      </ion-label>
    </ion-item>
<!-- 
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Contraseña</ion-label>
      <ion-note color="danger" slot="end">OFF</ion-note>
    </ion-item> -->

    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Ajustes de moneda principal</ion-label>
      <ion-note slot="end">COP($)</ion-note>
    </ion-item>

    <!-- <ion-item>
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>Ajustes de moneda secundaria</ion-label>
    </ion-item> -->

    <!-- <ion-item>
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Configuración de alarma</ion-label>
    </ion-item> -->

    <ion-item>
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>Apariencia</ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>Icono de aplicación</ion-label>
    </ion-item> -->

    <ion-item>
      <ion-icon name="language-outline" slot="start"></ion-icon>
      <ion-label>Configuración de idioma</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
