<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card button  routerLink="/add/movements-form"  >
          <ion-card-header>
            <ion-card-title>➕ Agregar transacción</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Registra un nuevo ingreso o gasto en tus cuentas.
          </ion-card-content>
        </ion-card>

        <ion-card button routerLink="/add/accounts-form"  >
          <ion-card-header>
            <ion-card-title>🏦 Agregar cuenta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Crea una cuenta personalizada para llevar el control.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>