// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-background-color: #F5F7FA;
    --ion-title-color: #2C3E50; 
    --ion-subtitle-color: #B0BEC5;
    --ion-earnings-color: #4CAF50;
    --ion-expense-color: #E74C3C;
}