<ion-item-sliding #slidingItem class="card-movements">
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="remove-circle" color="danger"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h2>{{ data.nombre }}</h2>
    </ion-label>

    <ion-note slot="end" [color]="balance >= 0 ? 'primary' : 'danger'">
      {{ balance | currency:'USD':'symbol':'1.0-0' }}
    </ion-note>

    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="eliminar.emit(data.id)">Eliminar</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
