<ion-item-sliding #slidingItem class="card-movements">
  <ion-item class="custom-item">
    <ion-label class="ion-text-wrap label-full">
      <h2>{{ data.nombre }}</h2>
    </ion-label>
    <ion-note slot="end" class="note-right" [ngClass]="balance > 0 ? 'income-amount' : 'expense-amount'">
      {{ balance | currency:'USD':'symbol':'1.0-0' }}
    </ion-note>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="eliminar.emit(data.id)">Eliminar</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
