<ion-header fullscreen="true" class="safe-area">
  
  <ion-toolbar class="no-shadow">
    <ion-grid>
          <ion-row class="header-content">
                <ion-col size="8">
                      
                      <h2 class="username primary-title">Estadisticas</h2>
                </ion-col>
                <ion-col size="4" class="profile-pic-container">
                      <ion-avatar>
                            <img src="assets/Imagen de WhatsApp 2025-03-12 a las 12.43.27_0f5a38fb.jpg"
                                  alt="Foto de perfil">
                      </ion-avatar>
                </ion-col>
          </ion-row>
    </ion-grid>
</ion-toolbar>

  <ion-row class="tabs">
    <ion-col size="4">
      <ion-button expand="block" fill="clear" routerLink="/statistics/all" routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }" class="menu-item">
        Todos
      </ion-button>

    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" fill="clear" routerLink="/statistics/income" routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Ingresos</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" fill="clear" routerLink="/statistics/expenses" routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }" class="menu-item">Gastos</ion-button>
    </ion-col>
  </ion-row>

  
</ion-header>
<ion-content  class="safe-area">
  
  
      <ion-router-outlet></ion-router-outlet>
   
</ion-content>
<app-bottom-bar />