
  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">{{movements.titulo}} </p>
              <p class="date subtitle">{{movements.fecha}}</p>
              
        </ion-col>
        <ion-col size="4" class="align-center "><p  [ngClass]="{
            'income-amount': movements.tipo === 'income',
            'expense-amount': movements.tipo === 'expense'
          }">{{movements.monto | currency:'USD':'symbol':'1.0-0' }}</p></ion-col>
  </ion-row>
