
  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">Apple pay</p>
              <p class="date subtitle">03 mar 2025</p>
              
        </ion-col>
        <ion-col size="4" class="align-center "><p>$ 26,850.00</p></ion-col>
  </ion-row>

  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">Apple pay</p>
              <p class="date subtitle">03 mar 2025</p>
        </ion-col>
        <ion-col size="4" class="align-center "><p>$ 26,850.00</p></ion-col>
  </ion-row>

  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">Apple pay</p>
              <p class="date subtitle">03 mar 2025</p>
        </ion-col>
        <ion-col size="4" class="align-center "><p>$ 26,850.00</p></ion-col>
  </ion-row>

  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">Apple pay</p>
              <p class="date subtitle">03 mar 2025</p>
        </ion-col>
        <ion-col size="4" class="align-center "><p>$ 26,850.00</p></ion-col>
  </ion-row>

  <ion-row class="card-movements">
        
        <ion-col size="8" class="align-left">
              <p class="title primary-title">Apple pay</p>
              <p class="date subtitle">03 mar 2025</p>
        </ion-col>
        <ion-col size="4" class="align-center "><p>$ 26,850.00</p></ion-col>
  </ion-row>
 

