ion-button{
    --background: #1a1a1a;
    --color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
}







.container {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 24px;
    color: var(--ion-title-color);
    text-align: left;
    margin-left: 40px;
   
}

#title{
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 0;
}


ion-input {
    background-color: #e7e7e7;
    text-align: left;
    border-radius: 15px;
    margin-bottom: 20px;

    --padding-end: 10px;
    --padding-start: 10px;


}

form p {
    font-weight: 600;
    text-align: right;
}

.custom-row {
    width: 98vw; /* o 400px, etc */
    margin: 0 auto;  /* centra horizontalmente */
    display: flex;
    
}

.custom-input{
    width: 40%;
}

#tipoInput{
    margin-right: 10px;
}


ion-select {
    background-color: #e7e7e7;
    border-radius: 15px;
    margin-bottom: 20px;
  
    --padding-end: 10px;
    --padding-start: 10px;
    --placeholder-color: #888;
    --placeholder-opacity: 1;
  
    text-align: left;
  }
  