<ion-row>
  <ion-col size="12">
    <h1>¡Bienvenido de nuevo!</h1>
    <p>Ingresa a tu cuenta</p>
  </ion-col>
</ion-row>
<ion-row class="container">
  <ion-col size="10">


    <form [formGroup]="form" (ngSubmit)="onRegister()">



      <ion-input 
      label="Nombre" 
      label-placement="floating" 
      fill="solid" 
      autocomplete="off" 
      autocorrect="off"
      autocapitalize="none" 
      spellcheck="false"
      formControlName="nombre"
      ></ion-input>
      <ion-input 
      label="Email" 
      label-placement="floating"
      fill="solid" 
      autocomplete="off" 
      autocorrect="off"
      autocapitalize="none" 
      spellcheck="false"
      formControlName="email"
      ></ion-input>
      <ion-input 
      label="Password" 
      type="password" 
      label-placement="floating" 
      fill="solid"
      formControlName="password"
      ></ion-input>



     





      <ion-button expand="block" type="submit" class="ion-margin-top login-button">
        Sing Up
      </ion-button>

    </form>
    <ion-row>

      <ion-col size="6">
        
        <p class="subtitle">¿ya tienes cuenta?</p>
      </ion-col>
      <ion-col size="6">
        <p routerLink="/auth/login" routerLinkActive="router-link-active" >Login</p>
        
      </ion-col>

    </ion-row>


  </ion-col>
</ion-row>