*{
  background-color: #F5F7FA;
}

ion-tab-bar {
    background: #fff;
    border-top: 1px solid #ddd;
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  ion-tab-button {
    color: #b0b0b0;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Asegura que el icono y el texto estén en columna */
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura */
  }
  
  ion-tab-button.tab-selected {
    color: black;
  }
  