
.title-movements {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; // opcional, para centrar verticalmente
    padding: 0 16px; // opcional, para espaciado lateral
    margin-bottom: 20px;
  }
  
  canvas{
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .empty-grid {
    height: 60vh; // Usa todo el alto de la pantalla
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .text-empty-page {
    font-size: clamp(14px, 4vw, 18px);
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .empty-image {
    width: 180px;
    max-width: 80%;
    margin-top: 20px;
    
  }
  
  
  
  .graph-container {
  // Menos espacio arriba
    margin-bottom: 1rem;
  
    canvas {
      width: 80%;
      height: 25vh !important; // Altura fija del canvas
      max-width: 100%;
      display: block;
    }
  }
  .scroll-wrapper {
    
    overflow-y: auto;
  
  
  }

  .scroll-content {
    --padding-top: 0;
    --padding-bottom: 0;
    overflow-y: auto;
  }
  
  .img {
    width: 180px;
    max-width: 80%;
    margin-top: 20px;
  }
  
  .scrollable-movements {
    height: 65vh;
    overflow-y: auto;
    padding-bottom: 16px;
  }
  
  
  .subtitle{
    color: var(--ion-subtitle-color);
  }
  
  .alineado-derecha{
    
  
    text-align: right;
    padding-right: 30px;
  }